.navbar {
  background-color: #71cd72;
}

.sobre-nos {
  background-color: #f0faf0;
}

.margin {
  padding-top: 50px;
  padding-bottom: 50px;
}

.nossos-produtos {
  background-color: #f0faf0;
}

.nossos-valores-e-principios {
  background-color: #f0faf0;
}

.bg-footer {
  background-color: #71cd72;
}
